<div class="flex justify-center items-center my-24 ">
  <div class="container">
    <div class="flex flex-col items-center justify-center">
      <div class="w-full text-center">
        <h1 class="text-6xl">Need more help?<br>Let's talk!</h1>
      </div>
      <div class="w-full mt-8">
        <p class="text-center px-24">CardsFlex is home to the world’s favourite personalised football cards. Our easy football card builder lets you make a real life football card with your own name, photo, and skill ratings. With 100+ designs to choose from and some inspired by FIFA cards seen in games.</p>
      </div>
      <div class="mt-12">
        <button class="text-white border border-white px-12 py-1 rounded-3xl hover:opacity-80 transition duration-350">Get in touch now</button>
      </div>
    </div>
  </div>
</div>