<style>
  #how_it_works-background {
    background: url('{{ 'how_it_works__smoke-background.png' | asset_url }}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
  }
</style>


<div class="flex justify-center align-center my-8 sm:my-32 relative">
  <div id="how_it_works-background" class="h-screen w-screen absolute -translate-y-36 hidden 2xl:block"></div>
  <div class="container">
    <div class="flex flex-col">
      <div class="w-full text-center">
        <h1 class="text-3xl sm:text-5xl lg:text-6xl">HOW IT WORKS?</h1>
      </div>

      {% render 'how_it_works_desktop' %}
      {% render 'how_it_works_mobile' %}

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "How it works",
    "settings": [
      {
        "type": "text",
        "id": "title_1",
        "default": "Pick a Card",
        "label": "Card 1 title"
      },
      {
        "type": "text",
        "id": "description_1",
        "default": "We have over 35 cool football card designs for you to choose from. All you have to do is find one you like!",
        "label": "Card 1 description"
      },
      {
        "type": "text",
        "id": "title_2",
        "default": "Make it Yours",
        "label": "Card 2 title"
      },
      {
        "type": "text",
        "id": "description_2",
        "default": "Add your own photo, name, club, and stats with our easy online tool. Our expert designers will do the rest!",
        "label": "Card 2 description"
      }, {
        "type": "text",
        "id": "title_3",
        "default": "Place your Order",
        "label": "Card 3 title"
      }, {
        "type": "text",
        "id": "description_3",
        "default": "Our team will send you a stunning edited preview in 2-3 days. Once you approve, we’ll bring it to life and ship it to you worldwide!",
        "label": "Card 3 description"
      }, {
        "type": "text",
        "id": "shop_button",
        "default": "Shop cards",
        "label": "Shop button"
      }, {
        "type": "text",
        "id": "photo_guide_button",
        "default": "Photo Guide",
        "label": "Photo Guide button"
      }, {
        "type": "text",
        "id": "how_it_works_button",
        "default": "How it Works",
        "label": "How it Works button"
      }
    ]
  }
{% endschema %}