h1,
.shop__name,
.footer__logo {
    /* font-family: 'Kufam', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 800 !important;
    font-style: italic;
}

h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Kufam', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.header__link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    /* font-size: 20px; */
    letter-spacing: 0.15em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
b {
    color: white;
}

.font-family-kufam {
    /* font-family: 'Kufam', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.font-family-roboto {
    font-family: 'Roboto', sans-serif;
}
