<style>
  .stats_mobile_filter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: white;
    overflow-y: auto;
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.25);
    transform: translateY(65%);
    transition: transform 0.3s ease-in-out;
  }

  .stats_mobile_filter.open {
    transform: translateY(-15%);
  }
</style>
<div class="lg:hidden stats_mobile_filter z-30 rounded-t-2xl bg-blue__gradient mobile_section_card_stats hidden">
  <button class="open-filter-stats fixed top-0 h-14 w-full px-6" type="button">
    <div class="flex flex-col gap-y-4 items-center justify-between mt-6">
      <div class="transition-all duration-300 rotate-180 icon-swipe-stats">
        {% render 'icon-swipe' %}
      </div>
      <div class="w-full">
        <div class="w-full text-start">
          <h3 class="text-xl md:text-2xl lg:text-3xl">{{ section.settings.step_title_7 }}</h3>
        </div>
      </div>
    </div>
  </button>
  <div class="filter-options px-6 mt-24 overflow-y-hidden">
    <div class="flex justify-between pt-4">
      <div>
        <button
          type="button"
          class="randomise_btn bg-white flex items-center px-4 py-2 rounded-full transition duration-300 hover:opacity-80 disabled:opacity-50"
          onclick="randomiseStats()"
          disabled
          >
          <span>
            {% render 'icon-randomise' %}
          </span>
          <p class="text-gray-900 ml-6 mr-6">
            {{ section.settings.step_button_7 }}
          </p>
        </button>
      </div>
    </div>
    {% render 'product-page-stats-step' %}
    <label class="checkbox__container flex items-center mt-4">
      <div>
        <p class="opacity-75 font-light text-sm">
          {{ section.settings.confirm_submit }}
        </p>
      </div>
      <div>
        <input
          type="checkbox"
          name='properties[User confirmation]'
          required>
        <span class="checkmark"></span>
      </div>
    </label>

    <button
      type="button"
      onclick="saveCanvas()"
      class="add_to_cart_first_step bg-white w-full rounded-full font-medium mt-2 py-2 duration-300 hover:opacity-75 tab-item active"
      data-tab="tab-2"
      style="color:var(--blue-text)">
      {{ section.settings.add_to_cart }}</button>
  </div>
</div>
<script>

  $(".open-filter-stats").click(function() {
    $(".stats_mobile_filter").toggleClass("open");
    $('.icon-swipe-stats').toggleClass('rotate-180')
  });
  $(document).on("click", function(event) {
    if (!$(".stats_mobile_filter").is(event.target) && $(".stats_mobile_filter").has(event.target).length === 0) {
      $(".stats_mobile_filter").removeClass("open");
    }
  });

  $(".close-filter").click(function() {
    $(".stats_mobile_filter").removeClass("open");
  });

  $(document).on("swipeup", function() {
    $(".stats_mobile_filter").addClass("open");
  });

  $(document).on("swipedown", function() {
    $(".stats_mobile_filter").removeClass("open");
  });
</script>