<div class="bg-blue__gradient p-6 rounded-lg lg:hidden mt-6 mobile_section_card_name hidden">
  <div>
    <h3 class="text-xl md:text-2xl lg:text-3xl">{{ section.settings.step_title_2 }}</h3>
  </div>
  <div>
    <div>
      <label for="name" class="text-xs uppercase">{{ section.settings.step_label_2 }}</label>
    </div>
    <div class="flex justify-between py-2">
      <input
        type="text"
        class="name bg-transparent text-white border-white product__form-input w-full placeholder:uppercase placeholder:text-white placeholder:opacity-75 rounded px-3 py-1"
        id=""
        name="properties[Name]"
        placeholder="Enter your name">
    </div>
  </div>
</div>