<fieldset id="group2">
  <div class="tab-content mt-4 grid grid-cols-4 sm:grid-cols-7 md:grid-cols-6 xl:grid-cols-7 gap-3" id="defence">
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="GK"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">GK</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="CB"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg z-10">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden z-10">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">CB</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="RB"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg z-10">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden z-10">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">RB</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="LB"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg z-10">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden z-10">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">LB</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="RWB"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg z-10">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden z-10">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">RWB</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="LWB"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg z-10">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden z-10">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">LWB</p>
        </div>
      </div>
    </label>

  </div>
  <div class="tab-content hidden mt-4 grid grid-cols-4 sm:grid-cols-7 md:grid-cols-6 xl:grid-cols-7 gap-3" id="midfield">
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="CDM"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">CDM</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="CM"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">CM</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="CAM"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">CAM</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="LM"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">LM</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="RM"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">RM</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="LW"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">LW</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="RW"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">RW</p>
        </div>
      </div>
    </label>
  </div>
  <div class="tab-content hidden mt-4 grid grid-cols-4 sm:grid-cols-7 md:grid-cols-6 xl:grid-cols-7 gap-3" id="attack">
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="ST"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">ST</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="CF"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">CF</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="RF"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">RF</p>
        </div>
      </div>
    </label>
    <label class="custom-radio">
      <input
        type="radio"
        name="group2"
        value="LF"
        class="player__position">
      <div class="radio-button flex items-center justify-around px-1">
        <div>
          <div class="empty-svg">
            {% render 'icon-circle-position' %}
          </div>
          <div class="check-svg hidden">
            {% render 'icon-circle-position-check' %}
          </div>
        </div>
        <div>
          <p class="font-medium">LF</p>
        </div>
      </div>
    </label>
  </div>
  <div class="tab-content hidden mt-4" id="custom">
    <input
      type="text"
      class="bg-transparent text-white border-white product__form-input w-full rounded-md px-3 py-3 placeholder:text-white placeholder:opacity-75"
      id="custom_player_position"
      placeholder="Enter your custom position name">
  </div>
</fieldset>