<div class="grid grid-cols-3 items-center mt-4 gap-4">
  <div class="col-span-3 md:col-span-2">
    <div class="grid grid-cols-2 gap-x-8 gap-y-4">
      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[Stat Value 1]"
            data-number="1"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[Stat Title 1]"
            readonly>
        </div>
      </div>

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[Stat Value 2]"
            data-number="2"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[Stat Title 2]"
            readonly>
        </div>
      </div>

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[Stat Value 3]"
            data-number="3"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[Stat Title 3]"
            readonly>
        </div>
      </div>

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[Stat Value 4]"
            data-number="4"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[Stat Title 4]"
            readonly>
        </div>
      </div>

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[Stat Value 5]"
            data-number="5"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[Stat Title 5]"
            readonly>
        </div>
      </div>

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[Stat Value 6]"
            data-number="6"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[Stat Title 6]"
            readonly>
        </div>
      </div>

    </div>
  </div>
  <div class="border rounded-md w-full col-span-3 h-24 lg:h-36">
    <input type="number"
      class="bg-transparent text-white px-2 h-full w-full text-2xl text-center align-middle placeholder:text-white placeholder:text-lg placeholder:lg:text-2xl"
      name="properties[Overall rating]"
      placeholder="Overall rating"
      id="overall-rating">
  <!-- Rating container -->
  </div>
</div>
