<div class="grid grid-cols-3 items-center mt-4 gap-8">
  <div class="col-span-2">
    <div class="grid grid-cols-2 gap-x-8 gap-y-4">

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[player_number_property_position_1]"
            data-number="1"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[player_text_property_position_1]"
            readonly>
        </div>
      </div>

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[player_number_property_position_2]"
            data-number="2"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[player_text_property_position_2]"
            readonly>
        </div>
      </div>

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[player_number_property_position_3]"
            data-number="3"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[player_text_property_position_3]"
            readonly>
        </div>
      </div>

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[player_number_property_position_4]"
            data-number="4"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[player_text_property_position_4]"
            readonly>
        </div>
      </div>

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[player_number_property_position_5]"
            data-number="5"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[player_text_property_position_5]"
            readonly>
        </div>
      </div>

      <div class="grid grid-cols-3 border border-white rounded-md h-10">
        <div class="border-r border-solid border-white h-full flex items-center">
          <input
            type="number"
            class="bg-transparent w-full text-white px-2 player_number_property_keyup"
            name="properties[player_number_property_position_6]"
            data-number="6"
            maxlength="3"
            max="100"
            disabled
            autocomplete="off">
        </div>
        <div class="col-span-2 h-full flex items-center">
          <input
            type="text"
            class="bg-transparent w-full text-white px-2"
            name="properties[player_text_property_position_6]"
            readonly>
        </div>
      </div>

    </div>
  </div>
  <div class="border rounded-md h-full w-full">
    <input type="number"
      class="bg-transparent text-white px-2 h-full w-full text-3xl text-center"
      name="properties[overall_rating]"
      id="overall-rating">
  <!-- Rating container -->
  </div>
</div>
