<style>
  .card-box {
    padding: 3rem 2rem;
  }

  .support-paragraph-title {
    font-size: 1.875rem;
    font-weight: 500;
  }

  .ul-style {
    padding-left: 2rem;
    color: white;
    list-style-type: disc !important;
  }

  .underline {
    text-decoration: underline;
  }
  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .gap-y-2 {
    row-gap: 0.5rem;
  }

  .mt-2 {
    margin-top: 0.5rem;
  }

  .mt-1 {
    margin-top: 0.25rem;
  }


  @media(min-width: 1280px) {
    .card-box {
      padding: 3rem 10rem 3rem 2rem;
    }
  }
</style>

<div class="col-span-12 md:col-span-8 lg:col-span-9">
  <div class="flex flex-col gap-y-6">
    {{ article.content }}
  </div>
</div>