<hr class="w-full opacity-30">
<li>
  <div class="flex items-center">
    <div class="text-white bg-gray-400 rounded-full p-2">
      {% render 'icon-question' %}
    </div>
    <div class="ml-4 w-full mr-3">
      <h3 class="italic">{{ section.settings.support_title_3 }}</h3>
    </div>
  </div>
  <div class="answer py-4 ml-16">
    <p class="text-gray-400">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique impedit quod repellat, officiis, quas perspiciatis iste, vero minus consectetur sint architecto! At tempore quod reprehenderit quidem expedita harum laboriosam veritatis quaerat, atque amet suscipit, ullam, nemo facere culpa sunt. Fuga doloribus incidunt unde sit natus ullam. Laudantium labore atque accusantium?</p>
  </div>
</li>